$spartayellow:rgb(250, 169, 19);
$letrasparta: 'Bellefair', serif;
$spartadegrade:linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
$spartadegrade2: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
$spartawhite:rgb(255, 255, 255);